.houses {
	width: 500px;
}

.plant2 {
	width: 500px;
}

.main-title-home {
	display: block;
	text-align: center;
	color: #46495a;
}

.sub-text-home {
	padding: 0;
}

.boekenkast {
	width: 150px;
	padding-left: 100px;
}

.paard {
	width: 150px;
}

.line-1 {
	position: absolute;
	width: 30px;
	top: 100px;
	right: 25%;
}

.brick-1 {
	position: absolute;
	width: 40px;
}

.brick-2 {
	position: absolute;
	width: 40px;
	right: 50px;
}

@media (min-width: 768px) {
	.intro-historiek {
		width: 50%;
	}

	.main-title-home {
		text-align: left;
	}

	.boekenkast {
		position: absolute;
		right: 150px;
		top: 150px;
	}

	.paard {
		position: absolute;
		bottom: -250px;
	}
}
