@import url("https://use.typekit.net/qes6mbe.css");

.main-title-contact {
	font-size: 50px;
	margin-bottom: 0;
	color: #46495a;
	text-align: center;
}

.werking-info {
	text-align: left;
}

.computer {
	width: 200px;
	padding-left: 100px;
}

.boot {
	width: 150px;
}

.spiral-1 {
	position: absolute;
	height: 40px;
	padding-left: 30px;
}

.spiral-2 {
	position: absolute;
	height: 40px;
	right: 50px;
}

.line-1 {
	position: absolute;
	width: 35px;
	right: 15%;
	top: 100px;
}

.line-1-fr {
	position: absolute;
	width: 35px;
	right: 5%;
	top: 60px;
}

@media (min-width: 768px) {
	.main-title-contact {
		padding-left: 60px;
		text-align: left;
	}

	.werking-flex {
		display: flex;
		padding-top: 50px;
		align-items: center;
	}

	.werking-info {
		text-align: left;
		width: 50%;
	}

	.computer {
		position: absolute;
		right: 100px;
		top: 150px;
	}

	.boot {
		position: absolute;
		right: 400px;
		bottom: 200px;
	}
}
