.main-title-contact {
	font-size: 50px;
	margin-bottom: 0;
	color: #46495a;
	text-align: center;
	padding-bottom: 30px;
}

.organisatie-mobile {
	text-align: left;
}

.organisatie-mobile img {
	margin: 10px 0;
	width: 300px;
}

.keuken {
	height: 150px;
	padding-left: 50px;
}

.kast {
	height: 250px;
}

.line-1 {
	position: absolute;
	width: 40px;
	top: 60px;
}

.brick-1 {
	position: absolute;
	height: 40px;
	left: -100px;
}

@media (min-width: 768px) {
	.main-title-contact {
		padding-left: 60px;
		text-align: left;
	}

	.text {
		width: 50%;
	}

	.organisatie-desktop {
		display: flex;
	}

	.organisatie-desktop img {
		width: 200px;
	}

	.image-1 {
		padding: 0 0 50px 200px;
	}

	.image-2 {
		padding-left: 20px;
	}

	.keuken-desktop {
		position: absolute;
		top: 150px;
		right: 100px;
	}

	.kast-desktop {
		position: absolute;
		bottom: 100px;
		right: 250px;
		height: 250px;
	}
}
